<div class="shuffle-cards">
  <button class="shuffle-cards__toggle-visibility">Reveal terrain</button>
  <div class="shuffle-cards__cards">
{% for asset in page.assets | sort -%}
  {%- if asset is matching("[.](jpg|png)$") and asset is containing(folder) -%}
    {% set image = resize_image(path=asset, height=400, op='fit_height', format='webp', quality=70) %}
    <img src="{{ image.url }}" class="card card--hidden"/>
  {%- endif %}
{%- endfor %}
  </div>
  <button class="shuffle-cards__shuffle">Shuffle</button>
</div>
<script>
  const shuffle = () => {
    const previouslySelected = document.querySelector(".card[selected]");
    if (previouslySelected) {
      previouslySelected.toggleAttribute("selected");
    }
    const cards = document.getElementsByClassName("card");
    const selectedIndex = Math.floor(Math.random() * cards.length);
    cards[selectedIndex].toggleAttribute("selected");
  }

  const toggleVisibility = () => {
    const cards = document.getElementsByClassName("card");
    const button = document.querySelector(".shuffle-cards__toggle-visibility");
    if (button.innerText.includes("Hide")) {
      for (const card of cards) {
        card.classList.add("card--hidden")
      }
      button.innerText = button.innerText.replace("Hide", "Reveal")
    } else {
      for (const card of cards) {
        card.classList.remove("card--hidden")
      }
      button.innerText = button.innerText.replace("Reveal", "Hide")
    }
  }

  const shuffleCards = document.querySelector("shuffle-cards");
  shuffle();

  const shuffleCardsToggle = document.querySelector(".shuffle-cards__toggle-visibility");
  shuffleCardsToggle.addEventListener("click", toggleVisibility)

  const shuffleCardsShuffle = document.querySelector(".shuffle-cards__shuffle");
  shuffleCardsShuffle.addEventListener("click", shuffle)
</script>
