<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>rknt</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header class="site-header">
      <a class="site-header__name" href="/">rknt</a>
      <span class="site-header__blurb">Daniel Haarhoff</span>
    </header>
    <main>
      <nav class="site-nav">
        <h1>Things I have made</h1>
        <h2>Physical objects</h2>
        <ul>
          <li>
            <a href="/post/screwless-and-clueless">Screwless & Clueless</a>
            A hiking shelter in Serbia using traditional joinery.
          </li>
          <li>
            <a href="/post/casino-at-marino">Casino at Marino</a>
            A lashed timber pavilion in Dublin Castle Garden.
          </li>
          <li>
            <a href="/post/skrivboard">Skrivboard</a>
            Cantilevered desk with plans available.
          </li>
          <li>
            <a href="/post/orange-hand-luggage">Small backpack</a>
            Ryanair small carry-on compliant with plans.
          </li>
          <li>
            <a href="/post/dymaxion-puzzle">Dymaxion puzzle</a>
            Mindbendy world map.
          </li>
          <li>
            <a href="/post/lasercut-catapult">Lasercut Catapult</a>
            For lobbing pingpong balls.
          </li>
        </ul>
        <h2>Software projects</h2>
        <ul>
          <li><a href="https://freeyourscience.org/">FreeYourScience</a> Helping scientists re-publish open access.</li>
          <li><a href="https://github.com/erkannt/babyhash">Babyhash</a> Start your geneaological blockchain ^^</li>
          <li><a href="https://erkannt.github.io/learn-left-right/">Learn left and right</a> Because my housemate can't keep 'em apart.</li>
          <li><a href="https://github.com/erkannt/text2tabletop">text2tabletop</a> Prettier army lists for OnePageRules</li>
        </ul>
        <h2>Scientific publications</h2>
        <ul>
          <li>
            <a href="https://public.rknt.de/diss-haarhoff/diss-haarhoff.html"
              >Momentum Control for Crane Load Stabilisation</a
            >
            Construction robotics PhD thesis.
          </li>
          <li>
            <a
              href="https://juser.fz-juelich.de/record/155828/files/FZJ-2014-04797.pdf"
              >Hybrid Parallelisation of the CFD-software FDS</a
            >
            Summary
            <a
              href="https://www.researchgate.net/profile/Lukas-Arnold-3/publication/279868754_Performance_Analysis_and_Shared_Memory_Parallelisation_of_FDS/links/559ce8f708aeb959c47495cf/Performance-Analysis-and-Shared-Memory-Parallelisation-of-FDS.pdf"
              >paper</a
            >
            and <a href="https://www.youtube.com/watch?v=5dLHXbqaFtA">talk</a>.
          </li>
        </ul>
        <h2>Teaching material</h2>
        <ul>
          <li>
            <a href="https://python-exercises.rknt.de">Python Exercises</a>
            Little guided python task I wrote for a friend learning python.
          </li>
          <li>
            <a
              href="https://www.youtube.com/playlist?list=PL-h1dAD1GdifZq-dqCcGmVYjHEkGNIPW_"
              >Grasshopper Tutorials</a
            >
            Parametric design class for architecture students.
          </li>
        </ul>
        <h2>Notes that I find useful</h2>
        <ul>
          <li>
            <a href="/post/add-bevel-to-stl-with-blender">Add bevels to STL file</a> Using Blender and Meshmachine.
          </li>
          <li>
            <a href="/post/speedpaints">Speedpaint Swatches</a> For miniature
            painting.
          </li>
          <li><a href="https://github.com/erkannt/css-only-expander">CSS only table expander</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>
