<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>rknt</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="site-header">
      <a class="site-header__name" href="/">rknt</a>
      <span class="site-header__blurb">Daniel Haarhoff</span>
    </header>
    <main>
      <nav class="site-nav">
      <h1>Things I have made</h1>
        <ul>
          <li>
            <a href="/post/screwless-and-clueless">Screwless & Clueless</a>
            A hiking shelter in Serbia using traditional joinery.
          </li>
          <li>
            <a href="/post/casino-at-marino">Casino at Marino</a>
            A lashed timber pavilion in Dublin Castle Garden.
          </li>
          <li>
            <a href="https://public.rknt.de/diss-haarhoff/diss-haarhoff.html">Momentum Control for Crane Load Stabiliztion</a>
	    Construction robotics PhD thesis.
          </li>
          <li>
            <a href="https://python-exercises.rknt.de">Python Exercises</a>
            Little guided python task I wrote for a friend learning python.
          </li>
          <li>
            <a
              href="https://www.youtube.com/playlist?list=PL-h1dAD1GdifZq-dqCcGmVYjHEkGNIPW_"
              >Grasshopper Tutorials</a
            >
            Parametric design class for architecture students.
          </li>
          <li>
            <a href="/post/skrivboard">Skrivboard</a>
            Cantilevered desk with plans available.
          </li>
        </ul>
        <h1>Notes</h1>
        <ul>
          <li>
            <a href="/post/speedpaints">Speedpaint Swatches</a> For miniature painting.
          </li>
        </ul>
      </nav>
    </main>
  </body>
</html>
