
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>rknt | {{ page.title }}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="site-header">
      <a class="site-header__name" href="/">rknt</a>
      <span class="site-header__blurb">Daniel Haarhoff</span>
    </header>
    <main>
      <h1>{{ page.title }}</h1>
			{{ page.content | safe }}
    </main>
  </body>
</html>